!!! 5
html
  head
    title Nipster! Github-rated search tool for npm, Bower
    meta(name='author', content='Eirik Brandtzæg, eirikb@eirikb.no')
    meta(charset='utf-8')

    each style in styles
      link(rel='stylesheet', href='dist/' + style)

    script
      var _gaq=_gaq || [];
      _gaq.push(['_setAccount','UA-28988150-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    body
      a(href='http://github.com/eirikb/nipster')
        img.fork(src='img/honesty.png', alt='Stargaze me on GitHub')
      .wrapper
        .content
          ul.header
            li
              a(href='#npm')
                img(src='img/npm.png')
          table.display
            thead
              th.small name
              th description
              th.small author
              th.small modified
              th.tiny forks
              th.tiny stargazers
              th.tiny stars
              th.tiny npm

      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/history.js/1.7.1/native.history.js')

      each script in scripts
        script(src='dist/' + script)
